name: Deploy HTML

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to server folder
        run: |
          DEST=/var/www/html/yourproject
          sudo mkdir -p $DEST
          sudo cp -r ./* $DEST
