name: Deploy Docker App

on:
  push:
    branches: [ "main" ]

jobs:
  build_and_deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/landing-page:latest .

      - name: Push image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/landing-page:latest

      - name: Stop and remove old container
        run: |
          docker rm -f landing-page || true

      - name: Run new container
        run: |
          docker run -d \
            --name landing-page \
            -p 80:80 \
            ${{ secrets.DOCKERHUB_USERNAME }}/landing-page:latest
